.visible {
  visibility:visible
}
.vis_hide {
  visibility:hidden
}
.home-main {
	width: 100%;
	height: 100%;
	display: flex;
  min-height: 100vh;
	flex-direction: column;
	.home-container {
		width:1180px;
		margin:0 auto;
		background-color:#fff;
		.index-bg-red {
			background-color: #ee6560;
		}
		.index-bg-green {
			background-color: #4db872;
		}
		.index-red {
			color: #ee6560;
		}
		.index-green {
			color: #4db872;
		}
	}
}