.login-form {
  border-radius: 2%;
  padding: 20px;
  margin: auto;
  margin-top: 100px;
  margin-bottom: 10px;
  min-width: 400px;
  max-width: 500px;
  background-color: rgb(253, 253, 253);
  box-shadow: 1px 4px 8px 1px rgba(0, 0, 0, 0.12), 1px 6px 6px 1px rgba(0, 0, 0, 0.09);
  .login-form-forgot {
    float: right;
  }
  .login-form-button {
    width: 100%;
  }
  .has-success:after {
    background-color: transparent;
  }
  .FeathersError {
    color: #f5222d;
    font-size: 14px;
    line-height: 1.5;;
  }
  .login-row {
    flex: 0%;
    text-align: center;
  }
  .ant-divider-inner-text {
    color: gray;
  }
}