.register {
    border-radius: 2%;
    padding: 20px;
    margin: auto;
    margin-bottom: 10px;
    margin-top: 50px;
    min-width: 400px;
    max-width: 500px;
    background-color: rgb(253, 253, 254);
    box-shadow: 1px 4px 8px 1px rgba(0, 0, 0, 0.12), 1px 6px 6px 1px rgba(0, 0, 0, 0.09);
    .has-success:after {
        background-color: transparent;
    }
    .submit-form-button {
        width: 100%;
    }
    .success {
        color: green;
        padding-bottom: 5px;
    }
    .FeathersError {
        color: #f5222d;
        font-size: 14px;
        line-height: 1.5;;
    }
    .error {
        color: red;
        padding-bottom: 5px;
    }
    .sendcode-button {
        border: none;
        background-color: transparent;
        padding-left: 0px;
    }
    .register-form-forgot {
        float: right;
    }

    .logo {
        text-align: center;
        img {
            width: 25px;
            height: 25px;
        }
        p {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            size: 20px;
        }
    }
}