#table-result {
    .ant-table-row {
        height: 20px;
    }
}
#time-card {
    ant-card-meta-title {
        text-align: center;
    }
}

#action-card {
    margin-top: 15px;
    border-radius: 5px;
}
.group-choose-ten-number {
    margin-bottom: 3px;
    text-align: center;
    display:flex;
    justify-content: space-between;
    margin-bottom: 18px;
    .number {
        text-align: left;
    }
    .chooseNumber {
        margin-right: 5px;
    }
    .ant-radio-button-wrapper {
        height: 36px;
    }
}
.group-choose-one-number {
    margin-bottom: 18px;
    text-align: center;
    display:flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: flex-end;
    .number {
        text-align: left;
    }
    .chooseNumber {
        margin-right: 5px;
    }
    .ant-radio-button-wrapper {
        height: 36px;
    }
}
.group-type-action {
    margin-bottom: 28px;
    text-align: center;
    display:flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: flex-end;
}
.group-action {
    margin-bottom: 28px;
    text-align: center;
    display:flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: flex-end;
    .ant-btn {
        margin-left: 15px;
    }
}