@import '~themes/vars.less';

.header {
  padding: 0;
  box-shadow: @shadow-2;
  position: relative;
  display: flex;
  justify-content: space-between;
  height: 60px;
  z-index: 9;
  align-items: center;
  background-color: rgb(253, 253, 253) !important;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.12), 0 6px 20px 0 rgba(0, 0, 0, 0.09);

  .coin-logo {
    width: 18px;
    height: 18px;
  }
  .login-inline {
    margin-right: 10px;
  }
  :global {
    .ant-menu-submenu-title {
      height: 72px;
    }

    .ant-menu-horizontal {
      line-height: 72px;

      & > .ant-menu-submenu:hover {
        color: @primary-color;
        background-color: #f9f9fc;
      }
    }

    .ant-menu {
      border-bottom: none;
      height: 72px;
      background-color: #ffffff;
    }

    .ant-menu-horizontal > .ant-menu-submenu {
      top: 0;
      margin-top: 0;
    }

    .ant-menu-horizontal > .ant-menu-item,
    .ant-menu-horizontal > .ant-menu-submenu {
      border-bottom: none;
    }

    .ant-menu-horizontal > .ant-menu-item-active,
    .ant-menu-horizontal > .ant-menu-item-open,
    .ant-menu-horizontal > .ant-menu-item-selected,
    .ant-menu-horizontal > .ant-menu-item:hover,
    .ant-menu-horizontal > .ant-menu-submenu-active,
    .ant-menu-horizontal > .ant-menu-submenu-open,
    .ant-menu-horizontal > .ant-menu-submenu-selected,
    .ant-menu-horizontal > .ant-menu-submenu:hover {
      border-bottom: none;
    }
    .menu-item {
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      font-size: 14px;
      font-variant: tabular-nums;
    }
  }

  .rightContainer {
    position: absolute;
    right: 0px;
    margin-right: 5%;
    display: flex;
    align-items: center;
  }

  .divider {
    height: 24px;
    width: 2px;
  }

  .leftContainer {
    position: absolute;
    left: 0px;
    margin-left: 5%;
    display: flex;
    align-items: center;
    .logo {
      width: 30px;
      height: 30px;
      margin-right: 10px;
    }
  }

  .button {
    width: 72px;
    height: 72px;
    line-height: 72px;
    text-align: center;
    font-size: 18px;
    cursor: pointer;
    transition: @transition-ease-in;

    &:hover {
      color: @primary-color;
      background-color: #FAF9F9;
    }
  }
  .anticon {
    margin-right: 6px;
    font-size: 24px;
  }
  .iconButton {
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 24px;
    cursor: pointer;
    .background-hover();
  
    &:hover {
      .iconFont {
        color: @primary-color;
      }
    }
  
    & + .iconButton {
      margin-left: 8px;
    }
  
    .iconFont {
      color: #b2b0c7;
      font-size: 24px;
    }
  }
  
  .notification {
    padding: 24px 0;
    width: 320px;
    .notificationItem {
      transition: all 0.3s;
      padding: 12px 24px;
      cursor: pointer;
      &:hover {
        background-color: #f9f9fc;
      }
    }
    .clearButton {
      text-align: center;
      height: 48px;
      line-height: 48px;
      cursor: pointer;
      .background-hover();
    }
  }
  
  .notificationPopover {
    :global {
      .ant-popover-inner-content {
        padding: 0;
      }
      .ant-popover-arrow {
        display: none;
      }
      .ant-list-item-content {
        flex: 0;
        margin-left: 16px;
      }
    }
  }
}



@media (max-width: 767px) {
  .header {
    width: 100% !important;
  }
}
