.layout {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  .main-content {
    margin: auto;
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 30px;
    background-color: transparent;
    height: 100%;
    flex: 1;
  }
  .ant-layout {
    background-color: rgb(253, 253, 253);
    height: 100%;
  }
}